<div>
<mat-card class="table-container">
    <h2>Transaction History</h2>
    <table mat-table [dataSource]="history.baskets" *ngIf="!loading" class="mat-elevation-z2" style="width: 100%;">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Transaction </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>

      <ng-container matColumnDef="closedAt">
        <th mat-header-cell *matHeaderCellDef> Purchased in </th>
        <td mat-cell *matCellDef="let element"> {{ element.closedAt | date:'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Products </th>
        <td mat-cell *matCellDef="let element"> {{ getItemNames(element.items)}} </td>
      </ng-container>

      <ng-container matColumnDef="totalPriceWithDiscount">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{ element.totalPriceWithDiscount | currency }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <mat-paginator
      [length]="this.history.totalCount"
      [pageSize]="this.history.pageSize"
      [pageIndex]="this.history.pageNumber"
      (page)="onPageChange($event)"
      *ngIf="!loading"
    ></mat-paginator>
  </mat-card>
</div>