<mat-card class="auth-card">
    <ng-container *ngIf="!isAuthenticated(); else welcomeBlock">
      <h2>{{ isLoginMode ? 'Login' : 'Register' }}</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required />
        </mat-form-field>

        <div class="error-message" *ngIf="hasError" style="color: red; margin-top: -8px; margin-bottom: 8px;">
          {{ errorMessage }}
        </div>
    

        <button matButton="filled" class="primary" type="submit" [disabled]="form.invalid">
          {{ isLoginMode ? 'Login' : 'Register' }}
        </button>

        <button mat-button type="button" (click)="toggleMode()">
          {{ isLoginMode ? 'Don\'t have an account? Register' : 'Already have an account? Login' }}
        </button>
      </form>
    </ng-container>

    <ng-template #welcomeBlock>
      <h2>Welcome</h2>
      <button matButton="filled" class="secondary" (click)="logout()">Log out</button>
    </ng-template>
  </mat-card>